# Java / Maven
target/
*.class
*.log

# IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Maven wrapper cache
.mvn/

# Node (if any)
node_modules/

# Credentials / config (ensure your config.properties NOT committed)
src/test/resources/properties_file/config.properties

# Others
screenshots/
